.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container{
  border-radius: 10ox;
  padding: 50px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px);
  // background: linear-gradient(145deg, #0f0f0f, #1a1a1a);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
  width: 600px;
}

form{
  display: flex;
  flex-direction: column;

  label{
    margin-bottom: 5px;
  }

  input, textarea{
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    background: #1c1c1c;
    outline: none;
    transition: border 0.3s, box-shadow 0.3s;

    &:focus{
      border: 1px solid #007bff;
      box-shadow: 0 0 8px #007bff;
    }
  }
  button{
    color: #fff;
    font-weight: bold;
    padding: 20px;
    border-radius: 6px;
    width: 200px;
    align-self: center;
    background-color: #007bff;
  }
}

.error-message{
  text-align: center;

  // flex-wrap: nowrap;
}




