<div class="sobre-container">
  <div class="sobre">
    <br>
    <h2 class="sobre-titulo">Sobre Mim</h2>
    <p class="apresentacao">
      Sou um desenvolvedor web em constante evolução, com foco em me tornar full stack.
    </p>
    <p class="apresentacao">
      Em meus projetos acadêmicos e pessoais, explorei soluções criativas e funcionais, aplicando boas práticas de desenvolvimento utilizando HTML, CSS,
      JavaScript, TypeScript, Java, Python, Angular e MySQL. <br>
      Tenho maior experiência no desenvolvimento front-end, criando interfaces funcionais, responsivas e acessíveis, sempre com foco na experiência do usuário.
    </p>
    <p class="apresentacao">
      Atualmente como estudante de Ciências da Computação, estou aprofundando meus conhecimento em back-end, especialmente com Python, Java e Spring Boot,
      com objetivo de ampliar minhas capacidades como desenvolvedor Full Stack visando trabalhar e contribuir com soluções
      completas e escaláveis.
    </p>
  </div>
  <div class="tecnologias">
    <h2 class="tecnologias-titulo">Tecnologias que já utilizei</h2>
    <ul class="skills">
      <li>
        <div class="tech-logo">
          <span>
            <img src="html_logo.png" alt="" class="logo" />
          </span>
          <p>HTML</p>
        </div>
      </li>
      <li>
        <div class="tech-logo">
          <span>
            <img src="css_logo.png" alt="" class="logo" />
          </span>
          <p>CSS</p>
        </div>
      </li>
      <li>
        <div class="tech-logo">
          <span>
            <img src="javascript_logo.png" alt="" class="logo" />
          </span>
          <p>JavaScript</p>
        </div>
      </li>
      <li>
        <div class="tech-logo">
          <span>
            <img src="typescript_logo.png" alt="" class="logo" />
          </span>
          <p>TypeScript</p>
        </div>
      </li>
      <li>
        <div class="tech-logo">
          <span>
            <img src="java_logo.png" alt="" class="logo" />
          </span>
          <p>Java</p>
        </div>
      </li>
      <li>
        <div class="tech-logo">
          <span>
            <img src="python_logo.png" alt="" class="logo" />
          </span>
          <p>Python</p>
        </div>
      </li>
      <li>
        <div class="tech-logo">
          <span>
            <img src="angular_logo.png" alt="" />
          </span>
          <p>Angular</p>
        </div>
      </li>
      <li>
        <div class="tech-logo">
          <span>
            <img src="mysql_logo.png" alt="" class="logo" />
          </span>
          <p>MySQL</p>
        </div>
      </li>
    </ul>
  </div>
</div>
