<p>
  Sou um Desenvolvedor Web Full Stack em formação e estudante de Ciência da
  Computação. Já desenvolvi projetos acadêmicos e pessoais utilizando HTML, CSS,
  JavaScript, TypeScript, Java, Python, Angular e MySQL. Minha maior experiência
  e foco estão no desenvolvimento front-end, criando interfaces funcionais,
  responsivas e acessíveis. Atualmente, busco aprimorar minhas habilidades em
  back-end, especialmente com Java e Python, visando ampliar minha atuação como
  desenvolvedor full stack.
</p>
<ul class="skills">
  <li>
    <span>
      <img src="html_logo.png" alt="" class="logo">
    </span>
    <p>HTML</p>
  </li>
  <li>
    <span>
      <img src="css_logo.png" alt="" class="logo">
    </span>
    <p>CSS</p>
  </li>
  <li>
    <span>
      <img src="javascript_logo.png" alt="" class="logo">
    </span>
    <p>JavaScript</p>
  </li>
  <li>
    <span>
      <img src="typescript_logo.png" alt="" class="logo">
    </span>
    <p>TypeScript</p>
  </li>
  <li>
    <span>
      <img src="java_logo.png" alt="" class="logo">
    </span>
    <p>Java</p>
  </li>
  <li>
    <span>
      <img src="python_logo.png" alt="" class="logo">
    </span>
    <p>Python</p>
  </li>
  <li>
    <span>
      <img src="angular_logo.png" alt="">
    </span>
    <p>Angular</p>
  </li>
  <li>
    <span>
      <img src="mysql_logo.png" alt="" class="logo">
    </span>
    <p>MySQL</p>
  </li>
</ul>
