<div class="sobre-container">
  <section class="sobre">
    <h2 class="sobre-titulo">Sobre Mim</h2>
    <p class="apresentacao">
      Sou um Desenvolvedor Web Full Stack em formação e estudante de Ciência da
      Computação.
    </p>
    <p class="apresentacao">
      Já desenvolvi projetos acadêmicos e pessoais utilizando HTML, CSS,
      JavaScript, TypeScript, Java, Python, Angular e MySQL. Minha maior
      experiência e foco estão no desenvolvimento front-end, criando interfaces
      funcionais, responsivas e acessíveis.
    </p>
    <p class="apresentacao">
      Atualmente, busco aprimorar minhas habilidades em back-end, especialmente
      com Java e Python, visando ampliar minha atuação como desenvolvedor full
      stack.
    </p>
  </section>
  <section class="tecnologias">
    <h2 class="tecnologias-titulo">Tecnologias que já utilizei</h2>
    <ul class="skills">
      <li>
        <div class="tech-logo">
          <span>
            <img src="html_logo.png" alt="" class="logo" />
          </span>
          <p>HTML</p>
        </div>
      </li>
      <li>
        <div class="tech-logo">
          <span>
            <img src="css_logo.png" alt="" class="logo" />
          </span>
          <p>CSS</p>
        </div>
      </li>
      <li>
        <div class="tech-logo">
          <span>
            <img src="javascript_logo.png" alt="" class="logo" />
          </span>
          <p>JavaScript</p>
        </div>
      </li>
      <li>
        <div class="tech-logo">
          <span>
            <img src="typescript_logo.png" alt="" class="logo" />
          </span>
          <p>TypeScript</p>
        </div>
      </li>
      <li>
        <div class="tech-logo">
          <span>
            <img src="java_logo.png" alt="" class="logo" />
          </span>
          <p>Java</p>
        </div>
      </li>
      <li>
        <div class="tech-logo">
          <span>
            <img src="python_logo.png" alt="" class="logo" />
          </span>
          <p>Python</p>
        </div>
      </li>
      <li>
        <div class="tech-logo">
          <span>
            <img src="angular_logo.png" alt="" />
          </span>
          <p>Angular</p>
        </div>
      </li>
      <li>
        <div class="tech-logo">
          <span>
            <img src="mysql_logo.png" alt="" class="logo" />
          </span>
          <p>MySQL</p>
        </div>
      </li>
    </ul>
  </section>
</div>
