<header>
  <nav class="nav-bar">
    <div class="profile-photo">
      <img src="perfil_lazaro.jpg" alt="Foto de perfil" />
    </div>
    <ul class="list">
      <li class="nav-item"><a (click)="scrollTo('inicio')">Inicio</a></li>
      <li class="nav-item"><a href="">Sobre</a></li>
      <li class="nav-item"><a (click)="scrollTo('projetos')">Projetos</a></li>
      <li class="nav-item"><a href="">Contato</a></li>
    </ul>
    <div class="mobile-menu-icon">
      <button (click)="showMobileMenu()">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </nav>
  <nav class="mobile-navigation">
    <ul class="list">
      <li class="nav-item"><a (click)="scrollTo('inicio')">Inicio</a></li>
      <li class="nav-item"><a href="">Sobre</a></li>
      <li class="nav-item"><a (click)="scrollTo('projetos')">Projetos</a></li>
      <li class="nav-item"><a href="">Contato</a></li>
    </ul>
  </nav>
</header>
