<header>
  <nav class="nav-bar">
    <div class="profile-photo">
      <img src="perfil_lazaro.jpg" alt="Foto de perfil" />
    </div>
    <ul class="list">
      @for(item of navItems; track item.sectionId){
        <li class="nav-item">
          <a (click)="scrollTo(item.sectionId)">{{item.label}}</a>
        </li>
      }
    </ul>
    <div class="mobile-menu-icon">
      <button (click)="toggleMenu()">
        <i class="fa-solid {{isMenuOpen() ? 'fa-xmark' : 'fa-bars'}}"></i>
      </button>
    </div>
  </nav>
  <nav class="mobile-navigation {{isMenuOpen() ? 'open' : ''}}">
    <ul class="list">
      @for(item of navItems; track item.sectionId){
        <li class="nav-item">
          <a (click)="scrollTo(item.sectionId)">{{item.label}}</a>
        </li>
      }
    </ul>
  </nav>
</header>
