.home{
  color: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  // min-height: 100vh;
}

.profile-photo img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  object-position: 50% 80%;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.links{
  margin-top: 5px;
  display: flex;
  gap: 5px;
  justify-content: center;

  a{
    width: 50px;
    height: 50px;
    text-decoration: none;
  }

  .link-cv{
    background-color: #0074D9;
    border-radius: 20px;
    padding: 5px 10px;
    width: auto;
    text-align: center;
    align-items: center;
  }

  img{
    width: 100%;
    height: 100%;
  }

  svg{
    // color:#fff;
    fill: white
  }

  .link-cv{
    text-align: center;
  }

}

h1{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
}

p{
  // font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

@media screen and (max-width: 730px){
  .home{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
