.home{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.profile-photo img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// .background{
//   background-image: url('/wallpaper_portfolio.jpg');
//   background-repeat: no repeat;
//   background-size: cover;
// }
