<section class="home background">
  <section class="profile-photo">
    <img src="perfil_lazaro.jpg" alt="Minha foto" />
  </section>
  <section class="info">
    <h2>Bem vindo</h2>
    <h1>Meu nome é Lázaro</h1>
    <p>Desenvolvedor Web Full-Stack em formação</p>
    <section class="links">
      <a href="https://www.linkedin.com/in/lazaromx/">
        <img src="" alt="Meu perfil no linkedin" />
      </a>
      <a href="https://github.com/lazaromx">
        <img src="" alt="Meu perfil no github" />
      </a>
    </section>
  </section>
</section>
