<article>
  <a href="">
    <img src="projetoUAMMotors.jpeg" alt="Projeto UAM Motors" />
  </a>
  <section class="info">
    <h3>Projeto UAM Motors</h3>
    <p>Projeto desenvolvido para gerenciamento de veiculos com
      funcionalidade de cadastro/login como cliente e funcionário
    </p>
    <h3>Tecnologias</h3>
    <ul>
      <li class="logo"><img src="angular_logo.png" alt="Angular"></li>
      <li class="logo"><img src="java_logo.png" alt="Java"></li>
      <li class="logo"><img src="mysql_logo.png" alt=""></li>
    </ul>
  </section>
</article>
