*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  // background-image: url('/wallpaper_portfolio.jpg');
  // background-repeat: no repeat;
  // background-size: cover;
  // background: linear-gradient(to bottom, #0f0f0f, #0f2027);
  background: linear-gradient(to bottom, #0f0f0f, #001f3f);
}
