*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

$header-height: 100px;

section{
  min-height: calc(100vh + var(--header-height));
  align-content: center;
}
html{
  scroll-behavior: smooth;
  // background-image: url('/wallpaper_portfolio.jpg');
  // background-repeat: no repeat;
  // background-size: cover;
  // background: linear-gradient(to bottom, #0f0f0f, #0f2027);
  background: linear-gradient(to bottom, #0f0f0f, #001f3f);
}
